#campo{
    margin-top: 100px;
    width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 151px;
}
#carrinho{
    text-align: center;
    margin-top:100px;
    margin-bottom: 100px;
    font-size: 30px;
    padding: 10px;
}
fieldset p{
    display: block;
    margin-top: auto;
    margin-bottom: 120px;
    text-align: center;
    font-size: 25px;
}
