@import url("./style.css");

.container-quizz{
    background-color: aliceblue;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 40px;
    border-radius: 12px;
    padding: 20px;
}
#txtInput{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 15px;
}
div div button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #998b7f;
    border-radius: 5px;
    padding: 5px;
    color: white;
    border: none;
    width: 150px;
    transition: all 0.5s ease;
}

div div button:hover{
    background-color: green;
    transform: scale(1.05);
}
footer {
  background-color: #998b7f;
  color: #e0e0e0;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  transition: 0.4s;
  width: 100%;
  position: fixed ;
  bottom: 0px;
}