* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.botoes{
    height:20px;
    width:20px;
    border-radius:100%;

}
body{
    background-color: #FADCD9;
}

.titulo{
    margin: 30px;
    font-size: 30px;
    text-align: center;
    
}
.titulo2{
     font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
}
.menu{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:25px;
    padding: 20px;
    background-color:white;
    margin: 0px;
    
}
.menu a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}
#banner{
    width: 100%;
    height: auto;
    display: block;
    /* object-fit: cover; garante que a imagem preencha sem distorcer */
}
nav{
    top: 0;
    position: sticky;
}
#fotos1 {
  text-align: center; /* centraliza tudo */
}
.fotos {
  width: 45%;   /* ocupa quase metade da tela (duas por linha) */
  max-width: 300px; /* evita ficar muito grande */
  height: auto; /* mantém proporção */
  margin: 5px;  /* espacinho entre as imagens */
  border-radius: 10px; /* opcional, deixa bonitinho */
}
a{
    transition: 0.2s ease;
}
ul li a:hover{
    color: #FADCD9;
    font-size: 17px;
}

ul li a:focus{
    font-size: 15px;
}

button{
    transition: 0.2s ease;

}
ul li button:hover{
    background-color: #FADCD9;
    height: 22px;
    width: 22px;
    cursor: pointer;
}
ul li button:focus{
    height: 22px;
    width: 22px;
    background-color: #C9B7A7;
}
footer {
  background-color: #998b7f;
  color: #e0e0e0;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  transition: 0.4s;
  width: 100%;

}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-section h3, p {
  color: #000000;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 15px;
  line-height: 1.5;
}

.social-icons a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0;
  transition: 0.3s;
}

.social-icons a i {
  margin-right: 6px;
}

.social-icons a:hover {
  color: #fff;
  transform: scale(1.1);
}

.footer-bottom {
  border-top: 1px solid #000000;
  padding-top: 10px;
  font-size: 14px;
  color: #ffffff;
}

footer p {
  color: #ffffff;
}
#botaoDireita{
    border-radius: 10px;
    border: none;
    font-size: 50px;
    cursor: pointer;
    padding: 5px;
    background-color:transparent;
    display: block;
    margin-left: auto;
    transform: translateY(-250px);
    color: rgb(0, 0, 0);

}

#botaoEsquerda{
    border-radius: 10px;
    border: none;
    font-size: 50px;
    cursor: pointer;
    padding: 5px;
    background-color:transparent;
    display: block;
    margin-right: auto;
    transform: translateY(-185px);
    color: rgb(0, 0, 0);
    

}