* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.botoes{
    height:20px;
    width:20px;
    border-radius:100%;

}
body{
    background-color: #FADCD9;
}

.titulo{
    font-size: 30px;
    text-align: center;
    margin: 30px;
}
.menu{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:25px;
    padding: 20px;
    background-color:white;
    margin: 0px;
    
}
.menu a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}
#banner{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* garante que a imagem preencha sem distorcer */
}
nav{
    top: 0;
    position: sticky;
    
}
.linha{

}
.fotos{
    height: 470px;
}